<!DOCTYPE html>
<html>
<head>
    <title>İletişim Formu Mesajı</title>
</head>
<body>
    <h1>Yeni İletişim Formu Mesajı</h1>
    <p><strong>İsim Soyisim:</strong> {{nameSurname}}</p> 
    <p><strong>Gönderen:</strong> {{email}}</p>
    <p><strong>Başlık:</strong> {{title}}</p>
    <p><strong>İçerik:</strong> {{content}}</p>
</body>
</html>